/* track down some small icons (font-awesome)?
  wine glass
  wine bottle
  half
  handle
  jug */

body {
  background-color: black;
  font-family: 'Roboto Condensed', sans-serif;
  /*font-family: 'Sunflower', sans-serif;*/
  color: white;
  margin: 0.5rem;
}

.box {
  padding: 0.5rem;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "taplist"
    "footer";
}

.taplist {
  display: grid;
  grid-area: taplist;
  grid-template-areas:
    "labelHeader"
    "theTaps";
}

.winelist {
  display: grid;
  grid-area: winelist;
  grid-template-areas:
    "theWines";
}

.hidden {
  display: none !important;
}

.labelHeader {
  display: grid;
  grid-template-columns: 49.5% 49.5%;
  grid-column-gap: 1%;
  grid-template-areas: "labels" "labels";
  padding-bottom: 0.5rem;
}

.labels {
  display: grid;
  text-align: right;
  font-weight: normal;
  border-bottom: 2px solid #666;
  grid-template-columns: 5.5rem minmax(10rem, 15rem) 6rem 7rem 7rem 7rem;
}

.theTaps {
  display: grid;
  grid-template-columns: 49.5% 49.5%;
  grid-template-areas: "beerDetails" "beerDetails";
  grid-column-gap: 1%;
  grid-row-gap: 1rem;
  grid-template-rows: repeat(4, 8rem);
  grid-auto-flow: row;
  padding-top: 1rem;
}

.theWines {
  display: grid;
  grid-template-columns: 49.5% 49.5%;
  grid-template-areas: "wineDetails" "wineDetails";
  grid-column-gap: 1%;
  grid-row-gap: 0.4rem;
  grid-template-rows: repeat(9, 4rem);
  grid-auto-flow: column;
}

.wineDetails {
  display: grid;
  grid-template-columns: auto 7rem 7rem;
  grid-template-rows: 3rem;
  grid-row-gap: 0.15rem;
  border-bottom: 2px solid #666;
}

.wineLabel {
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  font-size: 40px;
  color: hsl(180, 100%, 50%);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.wine {
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  font-size: 40px;
  color: #EEE;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.wineGlass .wineBottle {
  font-size: 30px;
  color: #EEE;
}

.badge img {
  max-width: 5rem;
  max-height: 5rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.beerDetails {
  display: grid;
  grid-template-columns: 5.5rem minmax(10rem, 15rem) 6rem 7rem 7rem 7rem;
  grid-template-rows: 3rem 1.6rem 2rem;
  grid-row-gap: 0.15rem;
  border-bottom: 2px solid #666;
}

.badge {
  display: inline-block;
  grid-column: 1;
  grid-row: 1 / -1;
  vertical-align: middle;
  justify-self: center;
}

.beerName {
  grid-column: span 4;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  font-size: 40px;
  color: #EEE;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.brewery {
  grid-column: 2 / span 2;
  flex: 0 1 auto;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  font-size: 1.5rem;
  font-weight: 700;
  color: #EEE;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.beerStyle {
  display: inline-block;
  margin-left: 0.5rem;
  color: #FFBC79;
  grid-column: 4 / span 3;
  text-align: right;
  font-size: 1.5rem;
  vertical-align: text-top;
}

.values{
  display: inline-block;
  text-align: right;
  vertical-align: text-bottom;
}

.half,
.handle,
.jug {
  font-size: 2rem;
  width: 7rem;
  text-align: right;
  color: #7C7;
}

.abv {
  grid-column: 3;
  font-size: 2rem;
  width: 5rem;
  color: #FFC8A5;
  text-align: right;
}

.half {
  grid-column: 4;
  color: #4C4;
}

.handle {
  grid-column: 5;
  color: #6F6;
}

.jug {
  grid-column: 6;
}

.nis {
  opacity: 0.3;
}

.special-star {
  background-image: url('/assets/images/special.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 7rem;
  text-shadow: 0px 0px 11px #FFAA00, 0px 0px 20px #FFAA00;
}

.special {
  border-bottom: 2px solid #f90;
}

.special .half,
.special .handle,
.special .jug {
  color: #fff;
  text-shadow: 0px 0px 11px #FFAA00, 0px 0px 20px #FFAA00;
}

.green-star {
  grid-column: 6;
  /* background-image: url('green-star.svg'); */
  background-image: url('/assets/images/serving.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 2.6rem;
}

.low-keg {
  grid-column: 6;
  /* background-image: url('green-star.svg'); */
  background-image: url('/assets/images/low.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 2.6rem;
}

.new {
  border-bottom: 2px solid #6F6;
  /* border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, grey 30%, rgb(0, 255, 0) 30% 100%);
  border-image-slice: 1;
  width:100%; */
}

.full {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, rgb(0, 255, 0) 0% 100%);
  border-image-slice: 1;
  width:100%;
}

.seventy {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, grey 30%, rgb(0, 255, 0) 30% 100%);
  border-image-slice: 1;
  width:100%;
}

.fifty {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, grey 50%, rgb(0, 255, 0) 50% 100%);
  border-image-slice: 1;
  width:100%;
}

.thirty {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, grey 70%, rgb(0, 255, 0) 70% 100%);
  border-image-slice: 1;
  width:100%;
}

.fifteen {
  border-bottom: 2px solid transparent;
  border-image: linear-gradient(to right, grey 85%, rgb(0, 255, 0) 85% 100%);
  border-image-slice: 1;
  width:100%;
}

@media only screen and (min-width: 1200px)  {
  html {
    font-size: 0.95vw;
  }
}

@media only screen and (min-width: 1400px)   {
  html {
    font-size: 1.1vw;
  }
}

@media only screen and (min-width: 1900px)   {
  html {
    font-size: 1.05vw;
  }
}

.header {
  display: grid;
  grid-area: header;
  grid-template-columns: 15% auto 15%;
  grid-template-areas: "logo title clock";
  background-color: black;
  grid-template-rows: 141px;
  /* grid-template-rows: 110px; */
  padding-bottom: 0rem;
}

.logo {
  width:180px; /* width of your image */
  height:141px; /* height of your image */
  background-image:url('/assets/images/club_logo_small.png');
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
}

.title > h1 {
  font-size: 4rem;
  /*font-family: 'Gruppo', cursive;*/
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin: 10px 0 0 0;
}

.clock {
  color: #0B9444;
  font-size: 3rem;
  text-align: right;
  margin: 0;
  padding-top: 15px;
}

.footer {
  display: grid;
  grid-template-columns: 98vw;
  margin-right: 5rem;
  grid-area: footer;
  position: absolute;
  bottom: 0;
  height: auto;
}

.footer span {
  padding: 0.2rem 0;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  /*vertical-align: middle;*/
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

.marquee {
  width: 98%;
  /*line-height: 1px;*/
  /*background-color: red;*/
  color: white;
  white-space: nowrap;
  overflow: hidden;
  box-sizing: border-box;
  padding: 0rem;
}
.singlefooter {
  display: inline;
  line-height: 1px;
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
  padding: 0rem;
}
.marquee span {
  display: inline-block;
  padding: 0.2rem 0;
  padding-bottom: 0rem;
  padding-left: 100%; /* causes it to start on the right */
  will-change: transform;
  animation: marquee 30s linear infinite;
  text-align: end;
  vertical-align: bottom;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
mark.fade {
  text-align: top;
  color: gray;
  background: none;
}
@keyframes marquee {
  0%   { transform: translate(0, 0); }
  100% { transform: translate(-100%, 0); }
}

@media (prefers-reduced-motion: reduce) {
  .marquee {
    white-space: normal
  }
  .marquee span {
    animation-iteration-count: 1;
    animation-duration: 0.01;
    /* instead of animation: none, so an animation end event is
     * still available, if previously attached.
     */
    padding-left: 0;
  }
}
