body {
  background-image: url('../images/Black1.jpg');
  background-attachment: fixed;
  padding-top: 20px;
  padding-bottom: 20px;
}

a:link {
  color: #f00;
}
a:visited {
  color: #f00;
}
a:active {
  color: #f00;
}

#header {
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 20px;
}

#header h1, #header h3 {
  color: #800;
}

#header h1 {
  font-size: 48px;
  font-weight: bold;
  margin-top: 0px;
}

.navbar {
  font-weight: bold;
}

#rccCarousel {
  padding-top: 20px;
  height: 170px;
}

#rccCarousel img {
  display: block;
  margin: auto;
}

#rccCarousel .carousel-indicators {
  bottom: 0px;
}

.content {
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 15px;
  padding-left: 15px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #eee;
  border-radius: 6px;
}

@media screen and (min-width: 768px) {
  .content {
    padding-right: 60px;
    padding-left: 60px;
  }
}

.footer {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}
