
body {
  background-color: black;
  font-family: 'Roboto Condensed', sans-serif;
  color: white;
  margin: 0.5rem;
}

.box {
  padding: 0.5rem;
}

.container {
  display: grid;
  grid-template-areas:
    "header"
    "taplist"
    "footer";
}

.taplist {
  display: grid;
  grid-area: taplist;
  grid-template-areas:
    "labelHeader"
    "tapContents";
}

.labelHeader {
  display: grid;
  grid-template-columns: 49.5% 49.5%;
  grid-column-gap: 1%;
  grid-template-areas: "labels" "labels";
}

.labels {
  display: grid;
  grid-template-columns: auto 4rem 7rem 7rem 7rem;
  text-align: right;
  font-weight: bold;
  border-bottom: 2px solid #666;
}

.tapContents {
  display: grid;
  grid-template-columns: 49.5% 49.5%;
  grid-column-gap: 1%;
  grid-row-gap: 0.25rem;
  grid-template-areas: "beerDetails" "beerDetails";
  grid-template-rows: repeat(6, 6.0rem);
  grid-auto-flow: column;
}

.badge img {
  max-width: 5rem;
  max-height: 5rem;
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
}

.beerDetails {
  display: grid;
  grid-template-columns: 5.5rem auto 4rem 7rem 7rem 7rem;
  grid-template-rows: 3rem;
  grid-auto-rows: 2.5rem;
  grid-row-gap: 0.5rem;
  border-bottom: 2px solid #666;
}

div.badge {
  display: inline-block;
  grid-column: 1;
  grid-row: 1 / -1;
  vertical-align: middle;
  justify-self: center;
}

div.name {
  grid-column: span 5;
}

.values{
  display: inline-block;
  text-align: right;
  vertical-align: text-bottom;
}

div.half,
div.handle,
div.take-home {
  font-size: 2rem;
  width: 7rem;
  text-align: right;
}

div.half {
  color: #4C4;
}

div.handle {
  color: #6F6;
}

div.abv {
  font-size: 2rem;
  width: 4rem;
  color: #FFC8A5;
  text-align: right;
}

div.name {
  flex: 0 1 auto;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  font-size: 2.5rem;
  font-weight: 700;
  color: #EEE;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

div.name > span:first-child {
  font-weight: 300;
  font-size: 1.5rem;
  color: #EDDED0;
}

div.beerStyle {
  margin-left: 0.5rem;
  color: #FFBC79;
  /*flex: 1 1 auto;*/
  padding-left: 1rem;
  grid-column: 2;
  font-size: 1.5rem;
}

.nis {
  opacity: 0.3;
}

.special .name {
  background-image: url('special.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 7rem;
}

.special {
  border-bottom: 2px solid #f90;
}

.special div.half,
.special div.handle {
  color: #fff;
  text-shadow: 0px 0px 11px #FFAA00, 0px 0px 20px #FFAA00;
}

.new .name {
  background-image: url('green-star.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 1.5rem;
}

.new {
  border-bottom: 2px solid #6F6;
}


@media only screen and (min-width: 1200px)  {
  html {
    font-size: 0.95vw;
  }
  body {
    /*background-color: lightblue;*/
  }
}

@media only screen and (min-width: 1400px)   {
  html {
    font-size: 1.1vw;
  }
  body {
    /*background-color: lightgreen;*/
  }
}

@media only screen and (min-width: 1900px)   {
  html {
    font-size: 1.05vw;
  }
  body {
    /*background-color: lightgray;*/
  }
}

.header {
  display: grid;
  grid-area: header;
  grid-template-columns: 15% auto 15%;
  grid-template-areas: "logo title clock";
  background-color: black;
  grid-template-rows: 141px;
  padding-bottom: 0.75rem;
}

.logo {
  width:180px; /* width of your image */
  height:141px; /* height of your image */
  background-image:url('../assets/images/club_logo_small.png');
  margin: 0;
  padding: 0;
}

.title {
  text-align: center;
}

.title > h1 {
  font-size: 4.5rem;
  /*font-family: 'Gruppo', cursive;*/
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  padding: 0;
  margin: 10px 0 0 0;
}

.clock {
  color: #0B9444;
  font-size: 3rem;
  text-align: right;
  margin: 0;
  padding-top: 40px;
}

.footer {
  display: grid;
  grid-template-columns: 98vw;
  margin-right: 5rem;
  grid-area: footer;
  position: absolute;
  bottom: 0;
}

marquee {
  padding: 0.5rem 0;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}

marquee > span:not(:nth-last-child(1)):after {
  content: '   |   ';
  color: gray;
}
